/*  Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/* Inline Elements & Typography
------------------------------------------------------- */
body,
input,
textarea {
  color:#333;
  font:15px/1.67 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  font-weight:bold;
  }

h1 {
  font-size:32px;
  margin-bottom:20px;
  line-height:1em;
  }

h2 {
  font-size:28px;
  margin-bottom:20px;
  line-height:1.25em;
  }

h3 {
  font-size:20px;
  margin-bottom:20px;
  line-height:1.5em;
  }

h4, h5 {
  font-size:15px;
  margin-bottom:0;
  line-height:1.67em;
  }

p {
  margin:0 0 20px;
  }
  p:last-child { margin-bottom:0;}

/* Links */
a {
  color:#BF724F;
  text-decoration:none;
  }
  a:visited {
    color:#BF724F;
    }
  a:hover {
    color:#BF724F;
    }
  a:active {
    color:#BF724F;
    }

abbr {
  border-bottom:1px dotted #000;
  cursor:help;
  }

address { font-style:italic;}
small   { font-size:11px;}
strong  { font-weight:bold;}
em      { font-style:italic;}

hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  }

/* Block Quotes */
blockquote,
q {
  quotes:none;
  font-style:italic;
  padding-left:20px;
  margin:10px;
  }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  }

/* Code Blocks & Pre */
code,
pre {
  padding:5px;
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  border-radius:3px;
  }
code {
  padding:5px;
  background:#f8f8f8;
  border:1px solid #ddd;
  }
pre {
  display:block;
  padding:10px;
  margin-bottom:10px;
  font-size:12px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  background:#f8f8f8;
  border:1px solid #ddd;
  border-radius:3px;
  }
  pre code {
    padding:0;
    color:inherit;
    background-color:transparent;
    border:0;
    }
.pre-scrollable {
  max-height:300px;
  overflow-y:scroll;
  }

/* sub/superscripts */
sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
  font-size:75%;
  }
sup {
  top:.5em;
  bottom:1em;
  }

label {
  display:block;
  }
select,
textarea,
input[type=text] {
  display:inline-block;
  height:30px;
  width:95%;
  max-width:400px;
  margin-bottom:10px;
  font-size:13px;
  font-weight:500;
  line-height:20px;
  color:#a0a0a0;
  vertical-align:middle;
  padding:4px 6px;
  -webkit-border-radius:1px;
          border-radius:1px;
  }
textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
     -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
          box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#00395D;
    border-width:1px;
    }

textarea {
  height:200px;
  max-width:none;
  }
input[type=submit] {
  background-color:#00395D;
  cursor:pointer;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  border:none;
  padding:9px 20px;
  -webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
     -moz-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
          box-shadow:2px 2px 4px rgba(0,0,0,0.1);
  }
  input[type=submit]:hover {
    background-color:#002f4c;
    }
  input[type=submit]:active {
    position:relative;
    top:1px;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  table-layout:fixed;
  }
  th,
  td {
    padding:4px 0;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #d5d5d5;
    }
  th {
    font-weight:bold;
    }
  thead th {
    vertical-align:bottom;
    color:#57594D;
    }

/* Read content styling */
.prose ul {
  list-style:disc;
  margin-left:40px;
  }
.prose ol {
  list-style:decimal;
  }
.prose p {
  margin:0 0 10px;
  }

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }

.clearfix { display:inline-block; }

/* -vvv- Tour de France specific -vvv- */

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  color: #3F3A2F;
  z-index: 200;
  background-color: #fff;
  }
#map {
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 30%;
  }

.leaflet-roads-pane {
	pointer-events: none;
  }
.inner {
  padding: 20px;
  }
.leaflet-marker-pane {
  z-index: 10;
  }
.stage-marker {
  font-size: 20px;
  font-weight: bold;
  background-color: #e30;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
